.SkillsBlock {
    height: 100vh;
    background-color: #001845;
}

.Container {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Skills {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
}

.Title {
    font-family: "IBM Plex Sans", sans-serif;
    color: white;
    margin-top: 100px;
}

@media screen and (min-width: 1440px) {
    .Skills {
        margin-top: 0px;
    }
}
@media screen and (min-width: 320px) and (max-width: 800px) {
    .Container {
        flex-direction: column;
        justify-content: space-around;
    }
    .SkillsBlock {
        height: fit-content;
    }
    .Skills {
        margin-top: 50px;
    }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
    .Container {
        width: 100%;
    }
}