.WorksBlock {
    height:  fit-content;
    background-color: cornflowerblue;
}

.Container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorksContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 1600px) {
    .Container {
        width: 60%;
    }
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
    .WorksContainer {
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
    .Container {
        width: 100%;
    }
}