.FooterBlock {
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LinksContaier {
    width: 540px;
    height: 60px;
    border: 1px solid;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-bottom: 5px;
}

.IconBox {
    width: 60px;
    height: 60px;
}

i {
    font-size: 60px;
}

i:hover {
    cursor: pointer;
}

a {
    color: black;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
    .LinksContaier {
        width: 90%;
        height: 45px;
    }
    .IconBox {
        width: 45px;
        height: 45px;
    }
    i {
        font-size: 45px;
    }
}